@media (min-width: 1200px) {
    .small-card h4{
        font-size: 22px !important;
    }
    .big-heading{
        font-size: 30px !important;
        line-height: 39px !important;
    }
    .width-lg-31{
        width: 31.1% !important;
    }
    .very-small-card h3{
        font-size: 18px !important;
    }
    .news-para{
        font-size: 22px;
    }
    .navbar-header-img{
        width: 280px !important;
    }

}
@media (min-width: 921) {
   
}
@media (min-width: 921px ) and (max-width: 1199px) {
    
}
